<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <connectionStrings> 
    <add name="landregistrydb"
         connectionString="server=localhost;user id=nickson;password=ini!MySQLuser400;persistsecurityinfo=True;database=landregistrydb;allowuservariables=True;" />
  </connectionStrings>
</configuration>